<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Quora Post </h1>
</body>
</html>

<% for (post of posts) {%>
    <div class="post">
         <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
    </div>

<%}%>