/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.post-container {
    max-width: 600px;
    margin: 20px auto;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.user {
    color: #007bff;
    margin-bottom: 5px;
}

.content {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

.create-post-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #007bff;
}
